<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header::head(~{::title})">
		<title>登録リスト</title>
	</head>
	<body>
		<header th:replace="header::header"></header>
		<div th:each ="book:${books}"> 
			<div>
				[[${book.id}]] - 
				<td>書籍名：</td>[[${book.name}]] / 
				<td>ISBNコード：</td>[[${book.isbn}]] / 
				<td>価格：</td>[[${book.price}]] /
				<td>出版社：</td>[[${book.publisher}]] /
				<td>出版年月日：</td>[[${book.publication_date}]]/
				<td>書籍の内容：</td>[[${book.description}]] 
			</div>
		</div>
	</body>
</html>