<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
	<meta charset="UTF-8">
	
	<title th:replace="${title}">title</title>
</head>
  <body>
  	<header th:fragment="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  		<nav class="my-2 my-md-0 mr-md-3">
			<a th:href="@{/}" class="btn my-auto p-2 text-dark">ホーム</a>
			<a th:href="@{/book/list}" class="btn my-auto p-2 text-dark">登録リスト</a>
			<a th:href="@{/book/add}" class="btn my-auto p-2 text-dark">新規登録</a>
			<a th:href="@{/book/search}" class="btn my-auto p-2 text-dark">検索</a>
  		</nav>
  	</header>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>